body {

    background-color: #ffffff;
    color: #666
}

header {
    background-color: #000033;
    color: #ffffff;
    font-family: Georgia, serif;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

.resort {
    color: #000033;
    font-weight: bold;
}

h1 {
    line-height: 200%;
}

nav {
    font-weight: bold;
    background: #90C7E3;
}

h2 {
    color: #3399cc;
    font-family: Georgia, serif;
}

dt {
    color: #000033;
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    font-size: .70em;
    font-style: italic;
}




/* 
h1 {
    color: #fff;
    background-color: #000033;
}

nav {
    background: #3399cc;
}

h2 {
    color: #3399cc;
    font-family: serif;
}




main,
footer,
.contact-info {
    font-family: sans-serif;
    color: #666;
}



.adress,
.resort-name {
    color: #000033;
    font-weight: bold;
}

footer {
    text-align: center;
} */